- content_for :javascripts do
  :javascript
    $(function(){
      $('#login-dialog').dialog();
    });
#login-dialog{:title => "Please Login"}
  %p
    To use this site, you must
    = link_to 'login with github', user_omniauth_authorize_path(:github)

